/* CSS declarations go here */

body {
	font-family: Fira Mono;
}

.app {
	display: flex;
	min-height: 100vh;
  	flex-direction: column;
}

header {
	display: flex;
	justify-content: flex-end;
	height: 200px;
}

.container {
	flex: 1;
	display: flex;
	flex-direction: row;
}

.main-content {
	flex-grow: 1;
	min-width: 25%;
}

aside {
	flex-grow: 3;
}

.list-of-projects {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}

.project-box {
	margin: 20px;
}

footer {
	display: flex;
	height: 50px;
}

footer p {
	position: relative;
}

.center {
	margin: 0 auto;
}