/*
*   Costrakr
*   © 2016 Michael Lee
*  
*   Note: the more specific the CSS, the lower down it is.
*/

/*********
*  MAIN  *
*********/

body {
    font-family: system, -apple-system, BlinkMacSystemFont, "Helvetica Neue", "Lucida Grande";
    font-size: 14px;
    color: #3f3f3f;
    line-height: 1.5;
    font-weight: 500;
    text-rendering: optimizeLegibility;
    text-rendering: geometricPrecision;
    -moz-font-smoothing: antialiased;
    -webkit-font-smoothing: antialiased;
    -webkit-font-smoothing: subpixel-antialiased;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

.app {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

.container {
    flex: 1;
    display: flex;
    flex-direction: row;
    width: 80%;
    margin: 0 auto;
}

.main-content {
    flex: 1;
    width: 100%;
}

aside {
    flex: 3;
    width: 95%;
    margin: 0 auto;
}

h1 {
    font-size: 36px;
}

a {
    text-decoration: none;
}

footer {
    display: flex;
    height: 30px;
    font-size: 12px;
}

footer p {
    position: relative;
}


/*************
*  GENERICS  *
*************/

.center {
    margin: 0 auto;
}

.inline {
    display: inline-block;
}

.block {
    display: block;
}

::-webkit-scrollbar {
    width: 10px;
}

.items::-webkit-scrollbar {
    width: 0;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px #888;
    -webkit-border-radius: 10px;
    border-radius: 10px;
}

.items::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px #888;
    -webkit-border-radius: 10px;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: #d9d9d9;
    -webkit-box-shadow: inset 0 0 2px #888;
}

.items::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: #d9d9d9;
    -webkit-box-shadow: inset 0 0 2px #888;
}

::-webkit-scrollbar-thumb:window-inactive {
    background: #E9E9E8;
}

.items::-webkit-scrollbar-thumb:window-inactive {
    background: #E9E9E8;
}


/************
*  BUTTONS  *
************/

.btn {
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 14px;
    margin: 20px 20px 20px 0;
    color: #fff;
    text-decoration: none;
    outline: none;
    border: none;
    box-shadow: none;
}

.btn:active {
    border: 1px solid #51abc5;
}

.project-buttons {
    display: flex;
    margin-left: 20px;
    margin-bottom: -8px;
    justify-content: center;
}

.back {
    width: 200px;
    margin: 0 auto 8px;
}

.blue {
    background-color: #55acee;
    box-shadow: 0 4px 0 #3C93D5;
}

.green {
    background-color: #2ecc71;
    box-shadow: 0 4px 0 #15B358;
}

.orange {
    background-color: #e67e22;
    box-shadow: 0 4px 0 #CD6509;
}

.red {
    background-color: #e74c3c;
    box-shadow: 0 4px 0 #CE3323;
}

.purple {
    background-color: #9b59b6;
    box-shadow: 0 4px 0 #82409D;
}

.all-buttons {
    position: fixed;
    bottom: 80px;
    left: 288px;
}

/***********
*  HEADER  *
***********/

header {
    display: flex;
    width: 100%;
    height: 60px;
    font-size: 12px;
    margin: 0 auto;
    background-color: #f8f8f8;
    box-shadow: 1px 1px 0 0 #eee;
}

.login-buttons-container {
    float: right;
    padding-top: 21px;
}

.header-container {
    clear: left;
    width: 80%;
    margin: 0 auto;
}

.user-link a {
    color: #3f3f3f;
}

.user-link {
    display: inline-block;
    padding: 21px;
    border-bottom: 2px solid #eee;
    transition: border 0.2s ease-in, background-color 0.2s ease-in, color 0.2s ease-in;
}

.user-link:hover {
    background-color: #fff;
    border-bottom: 2px solid #2fed71;
}

/*****************
*  LANDING PAGE  *
*****************/

.landing-page h1 {
    margin: 20px auto 20px;
    text-align: center;
    font-size: 24px;
}

.landing-page img {
    display: flex;
    margin: 80px auto 50px;
}

.landing-page a {
    display: flex;
    justify-content: center;
    margin-top: 10px;
    font-size: 12px;
}

.login-buttons {
    display: flex;
    flex-direction: column;
    width: 400px;
    margin: 0 auto;
}

.login-btn {
    margin: 10px;
    padding: 10px;
    height: 30px;
    border: 1px solid #fff;
    outline: none;
    background-color: #f9f9f9;
    border-radius: 8px;
    transition: border 0.5s ease-in;
}

.input-btn {
    padding-left: 20px;
}

.input-btn:hover {
    border: 1px solid #aaa;
}

.submit-btn {
    height: 50px;
    font-weight: 500;
    color: #3f3f3f;
    background-color: #eabce9;
}

.submit-btn:hover {
    border: 1px solid #aaa;
}

.login-error {
    color: red;
    text-align: center;
}

/******************
*  PROJECTS LIST  *
******************/

.list-of-projects {
    display: flex;
    max-height: 670px;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 50px;
    overflow-y: auto;
}

.star-count {
    position: relative;
    right: 40px;
    bottom: 125px;
    font-family: Consolas;
    font-size: 12px;
    height: 40px;
    width: 40px;
    color: #4a4a4a;
    background-image: url('/images/star.svg');
    font-weight: bold;
    z-index: 2;
}

.star-count-number {
    text-align: center;
    padding-top: 14px;
}

.project-box {
    width: 184px;
    height: 141px;
    margin: 20px;
    padding: 20px;
    border-radius: 5px;
    border: 1px solid #e9e9e9;
    transition: box-shadow 0.2s ease-in;
}

.project-box:hover {
    box-shadow: inset 0 0 2px #ccc;
}

.project-box-date {
    display: inline-block;
    font-size: 12px;
    padding: 0 5px 2px;
    font-weight: bold;
    border-bottom: 1px solid #e9e9e9;
}

.project-box-name {
    width: 100%;
    height: 50px;
    text-align: center;
    position: relative;
    bottom: 0px;
    font-size: 18px;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-top: -10px;
}

.project-box-total {
    position: relative;
    text-align: center;
    width: 60px;
    float: right;
    left: 8px;
    bottom: 8px;
    font-size: 20px;
    border: 1px solid #dddddd;
    border-radius: 5px;
    padding: 0 10px;
    overflow-x: hidden;
}

.project-box-owner {
    width: 100%;
    position: relative;
    bottom: 30px;
    text-align: center;
    border-bottom: 1px solid #eaeaea;
    padding-bottom: 5px;
    font-style: italic;
    font-size: 12px;
}

.project-box-link {
    position: relative;
    bottom: 17px;
    font-size: 12px;
}

.view {
    float: left;
    left: 20px;
}

.view-center {
    float: left;
    left: 77px;
}

.remove {
    float: right;
    right: 20px;
}

@media (max-width: 900px) {
    .search {
        display: none;
    }
}

.empty-box {
    width: 226px;
    height: 183px;
    margin: 20px;
}

/*****************
*  PROFILE PAGE  *
*****************/

.profile {
    text-align: center;
    margin-top: 40px;
    margin-left: 20px;
    background-color: #f8f8f8;
    height: 78%;
    padding: 30px;
    border-radius: 10px;
}

.profile-name {
    padding-top: 10px;
    font-size: 20px;
}

.profile-location {

}

.profile-picture {
    height: 200px;
    width: 200px;
    background-color: white;
    margin: 0 auto;
    border-radius: 5px;
}

/*****************
*  PROJECT PAGE  *
*****************/

.total input {
    position: fixed;
    max-width: 160px;
    top: 88px;
    left: 580px;
    font-size: 36px;
    padding-right: 10px;
    text-align: end;
    border: none;
    overflow-x: hidden;
}

.add-item-prompt {
    text-align: center;
    margin-top: 135px;
    font-size: 20px;
}

.input-user {
    height: 34px;
    width: 285px;
    color: #555;
    border-radius: 3px;
    padding: 6px 10px;
    border: 1px solid #CBCBCB;
    background: #f9f9f9;
    box-sizing: border-box;
    box-shadow: inset 0 1px 5px #E9E9E8, 0 0 0 100px #fbfbfa inset;
    -webkit-appearance: textfield;
    user-select: text;
    cursor: auto;
}

.input-user:focus {
    outline: none;
}

.items {
    height: 500px;
    width: 580px;
    overflow-y: scroll;
}

.name {
    margin: 5px 5px 5px 0;
}

.price {
    margin: 5px 0 5px 5px;
}

.link {
    display: block;
    width: 580px;
}

.item-index {
    font-size: 28px;
    float: right;
    margin-right: 30px;
    margin-top: 5px;
}

.project-summary {
    display: flex;
    flex-direction: column;
}

.project-section {
    flex: 1;
    position: absolute;
    top: 80px;
    left: 200px;
}

.comments-section {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.comments {
    overflow-y: auto;
    flex: 1;
/*    top: 60px;
    right: 200px;
    height: 500px;*/
    /*width: 540px;*/
    padding: 20px;
    /*background: #f9f9f9;*/
}

.comment-form {
    position: absolute;
    bottom: 275px;
    right: 560px;
}

.comment-textbox {
    border-radius: 5px;
    padding: 20px;
    font-size: 14px;
    margin: 20px;
    outline: none;
    border: none;
}

.comment-form .submit {
    width: 200px;
    margin: 18px auto;
}

.no-comments {
    position: relative;
    top: 45%;
    text-align: center;
    font-size: 20px;
}

.search {
    margin-top: -95px;
    margin-right: 175px;
    float: right;
    border: 1px solid #e4e4e4;
}

.search:focus {
    border: 1px solid #CBCBCB;
}

/************************
*  CREATE PROJECT FORM  *
************************/

.input-create-project {
    height: 40px;
    width: 285px;
    color: #555;
    border-radius: 3px;
    padding: 10px 10px;
    border: 1px solid #e9e9e9;
    background: #fefefe;
    box-sizing: border-box;
    -webkit-appearance: textfield;
    user-select: text;
    cursor: auto;
}

.input-create-project:focus {
    outline: none;
    border: 1px solid #CBCBCB;
}

.button-create-project {
    margin: 20px auto;
    padding: 12px 20px;
    background-color: #59ABE3;
    border: 1px solid #eee;
    color: #fff;
    transition: border 0.2s ease-in;
}

.button-create-project:hover {
    border: 1px solid #59ABE3;
}

/*************
*  SETTINGS  *
*************/

.settings {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
}

.settings-input-btn {
    border-radius: 5px;
    height: 10px;
    width: 300px;
    margin: 40px 20px 20px 20px;
    padding: 20px;
    border: 1px solid #f9f9f9;
    outline: none;
    transition: border 0.5s ease-in;
}

.settings input:hover {
    border: 1px solid #aaa;
}

.settings input:focus {
    border: 1px solid #ccc;
}

.settings-submit-btn {
    width: 342px;
    height: 40px;
    border-radius: 5px;
    border: 1px solid #fff;
    background-color: #59ABE3;
    color: #fafafa;
    transition: border 0.2s ease-in;
}

.settings-submit-btn:hover {
    border: 1px solid #59ABE3;
}  
