# See http://help.github.com/ignore-files/ for more about ignoring files.

# dependencies
node_modules

# testing
 always-ignore extensions
*.diff
*.err
*.orig
*.log
*.rej
*.swo
*.swp
*.vi
*~
*.sass-cache

# OS or Editor folders
.DS_Store
.cache
.project
.settings
.tags
.tmproj
nbproject
Thumbs.db
tags

# NPM packages folder.
node_modules/

# Brunch folder for temporary files.
tmp/

# Brunch output folder.

# Bower stuff.
bower_components/

# API Docs
docs/api/

# DotEnv
.envoverage

# production
build

# misc
.DS_Store
.env
npm-debug.log
